*
!.gitignore
!/img/
!/img/**
!/src/
!/src/main/
!/src/main/java/
!/src/main/java/**
!README.md
!/src/main/resources/
!/src/main/resources/db/
!/src/main/resources/db/migration/
!/src/main/resources/db/migration/**

/src/main/resources/application.properties

.idea/